.nmr-player
{
    width: 100%;
    height: 100%;
    display: flex;

    > .player-controls
    {
        flex: 1 0 auto;

        > span
        {
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }

    > .time-bar
    {
        flex: 4 0 auto;
    }

    > audio
    {
        flex: 0 0 300px;
    }
}
