.nmr-search-bar
{
    position: relative;
    // background:  white;
    // height: @nmr-search-view-height + 4;
    // border-radius: 16px;

    // width: 200px;

    .ant-select-auto-complete.ant-select .ant-input  {
        border-width: 0;
        border: none;
    }

    > .nmr-autocomplete
    {
        width: 100%;
    }

}
